@import './variables.scss';
@import './fontawesome-free/fontawesome.scss';
@import './fontawesome-free/regular.scss';
@import './fontawesome-free/solid.scss';
@import './fontawesome-free/brands.scss';


* { box-sizing: border-box; }

html, body{
    margin: 0px;
    padding:0px;
    background-color: $background;
}

.navbar-container{
  position: relative;
  background-color: $navbar-top-background;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
	z-index: 101;
	width: 100%;
	line-height: $nav-top-line-height;
  
  .brand{
    font-family: $brand-font;
    font-size: $brand-font-size;
		a{
			color: $brand-font-color;
			text-decoration: none;
		}
  }
	
	.hamburger {
		margin-left: auto;
		color: $primaryText;
		cursor: pointer;
	}
}
.nav-drill {
	margin-top: $nav-top-line-height;
	transform: translateX(100%);
}
.nav-is-toggled {
	.nav-drill {
		transform: translateX(0);
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

.nav {
	&-drill {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		width: $nav-width;
		height: 100vh;
    background-color: $navbar-item-background;
    opacity: $navbar-item-background-opacity;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
	}
	
	&-items {
    flex: 0 0 100%;
    padding: 0rem;
	}
	
	&-item {
		font-family: $primary-font;
		font-weight: $regular;
    list-style: none;
		text-align: center;
	}
	
	&-link {
		display: block;
		padding: $nav-padding;
    text-decoration: none;
    color: $navbar-link-color;
		font-size: 1rem;
		line-height: 1em;
	}
}

.content-container{
	margin-bottom: 2rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas:
		"content"
		"sidebar";

	.sidebar-left{
		grid-area: sidebar;

		.sidebar {
			padding: 0rem 2rem;
			border-radius: 0.4rem;
			border: 1px groove rgba(0,0,0,0.15);
			background-color: $navbar-top-background;

			.profile-img{
				width: 55%;;
				display: block;
				margin : 1.5rem auto;
			}

			.headline{
				font-family: $primary-font;
				font-weight: $bold;
			}

			.featured-link{
				
				a{
					text-decoration: none;
					color: $secondaryText;
					font-family: $primary-font;
					font-weight: $light;

					&:hover{
						color: $primaryText;
					}
				}
			}

			.social-icons{
				list-style: none;
				padding: 0;

				li{
					&:first-child{
						padding-left: 0rem;
					}
					padding-left: 0.5rem;
					float: left;
					a{
						color: $secondaryText;
						font-size: 1.6rem;
						&:hover{
							color: $primaryText;
						}
					}
				}
			}

			.built-with{
				color: $secondaryText;
				font-family: $primary-font;
				font-weight: $light;
				font-size: 0.7rem;
			}
		}
	}

	.content{
		grid-area: content;

		.breadcrumb{
			width: 100%;
			background-color: $navbar-top-background;
			border-radius: 0.4rem;
			border: 1px groove rgba(0,0,0,0.15);
			margin-bottom: 1.5rem;
			padding: 1rem;
			text-transform: uppercase;
			font-family: $primary-font;
			font-size: $breadcrumb-font-size;
			font-weight: $light;
			color: $secondaryText;
			a{
				text-decoration: none;
				color: $secondaryText;
			}
		}

		.content-box{
			width: 100%;
			background-color: $navbar-top-background;
			border-radius: 0.4rem;
			border: 1px groove rgba(0,0,0,0.15);
			margin-bottom: 1.5rem;
			padding: 1rem;

			.featured-img{
				margin: -1rem;
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
				overflow: hidden;
				margin-bottom: 1rem;
				img{
					width: 100%;
					height: 20rem;
					object-fit: cover;
				}
			}
		}
	}
}


.post-preview-container{
	border-radius: 0.4rem;
	border: 1px groove rgba(0,0,0,0.15);
	margin-bottom: 1.5rem;
	padding: 1rem;
	background-color: $navbar-top-background;
	display: grid;
	grid-gap: 0.1rem;
	grid-template-areas:
	"feature_img"
	"post_preview";
	
	.featured-img{
		grid-area: feature_img;
		img{
			width: 100%;
			height: auto;
		}
	}

	.post-preview{
		grid-area: post_preview;

		.post-title{
			margin-top: 0rem;
			margin-bottom: 0.5rem;
			font-family: $primary-font;
			font-weight: $bold;
			font-size: $post-preview-title-font-size;
			a{
				text-decoration: none;
				color: $primaryText;
				&:hover{
					color: $secondaryText;
				}
			}
		}

		.post-details{
			font-family: $primary-font;
			font-weight: $light;
			font-size: $post-preview-details-font-size;
			text-transform: uppercase;
		}
		.post-snippets{
			font-family: $primary-font;
			font-weight: $light;
			color: $secondaryText;
			font-size: $post-preview-snippets-font-size;

			a{
				color: $secondaryText;

				&:hover{
					color: $primaryText;
				}
			}
		}
	}
}

//stylesheet for text
.heading, .sub-heading, .body-text, .button{
	font-family: $primary-font;
	color: $primaryText;
}

.heading{
	font-size: $heading-font-size;
	margin: 0rem;
	font-weight: $bold;
}

.sub-heading{
	font-size: $subheading-font-size;
	margin: 0rem;
	font-weight: $regular;
}

.body-text{
	font-size: $body-text-font-size;
	color: $secondaryText;
	font-weight: $light;
}

.publication-details{
	text-transform: uppercase;
	font-family: $primary-font;
	font-weight: $light;
	font-size: 0.8rem;
}


hr{
	margin-left: 0rem;
	width: 4rem;
	color: rgba(0,0,0,0.3);
}

.button{
	margin: 2rem 0rem;
	a{
		padding: 0.5rem 1rem;
		background-color: $button-background-color;
		color: $button-text-color;
		text-decoration: none;
	}
}

button{
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
	color: $button-text-color;
	background-color: $button-background-color;
}

blockquote{
	font-family: $blockquote-font;
	font-size: $blockquote-font-size;
	color: $secondaryText;
	border-left: 0.5rem solid $secondaryText;
	padding-left:1rem;
}

.ul{
	font-family: $primary-font;
	color: $secondaryText;
	font-size: $body-text-font-size;
	font-weight: $light;
	padding-left: 3.5rem;
}

.form {
	.form-controls{
		width: 100%;
		margin-bottom: 1rem;

		.label{
			font-family: $primary-font;
			font-size: $form-label-font-size;
			color: $primaryText;
			margin: 0 0 0.5rem 0;
		}

		.form-control{
			width: 100%;
			padding: 0.5rem;
			font-size: $input-box-font-size;
		}

		.textarea{
			width: 100%;
			height: 10rem;
			font-family: $primary-font;
			padding: 0.5rem;
			font-size: $input-box-font-size;
		}
	}
}



// media queries for responsive stylesheet
//for mobile phone screens
@media screen and (max-width: $mobile-tablet){
	.content-container{
		margin: 0rem 1.5rem 2rem 1.5rem;
		.sidebar-left{
			.profile-img{
				margin: 2.5rem auto;
			}
		}
	}
	.content{
		margin-top: 1.5rem;
	}

	.heading{
		font-size: $heading-font-size-mobile;
	}

	.sub-heading{
		font-size: $subheading-font-size-mobile;
	}
}

//for tablet
@media screen and (min-width: $mobile-tablet) and (max-width: $tablet-desktop){
	.content-container{
		padding-top: 1rem;
		grid-column-gap: 1rem;
		grid-template-columns:2fr 5fr;
		grid-template-areas: 'sidebar content';

		.content{
			.breadcrumb, .content-box{
				margin-bottom: 1rem !important;
			}
		}
	}
  .wrapper{
    width: 85%;
    margin: 0rem auto;
	}
	
	.post-preview-container{
		margin-bottom: 1rem;
		grid-template-columns: 2fr 3fr;
		grid-column-gap: 1rem;
		grid-template-areas: "feature_img post_preview";

		img{
			width: 100%;
			height: auto;
		}
	}
}

//for desktop and larger screens
@media screen and (min-width: $tablet-desktop){
 .content-container{
		padding-top: 1.5rem;
		grid-column-gap: 1.5rem;
		grid-template-columns: 2fr 7fr;
		grid-template-areas:
		"sidebar content";
 }
  .wrapper{
		width: 1024px;
    margin: 0rem auto;
	}
	
	.post-preview-container{
		grid-template-columns: 1fr 3fr;
		grid-column-gap: 1rem;
		grid-template-areas: "feature_img post_preview";

		img{
			width: 100%;
			height: 100% !important;
			object-fit: cover;
		}
	}
}