// google fonts
@import "https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap';

$mobile-tablet: 760px;
$tablet-desktop: 1024px;

$background: #e5e5e5;

$brand-font: 'Permanent Marker';
$brand-font-size: 1.5rem;
$brand-font-color: lighten(#000000, 30%);
$primary-font: 'Lato', sans-serif;
$bold: 700;
$regular: 400;
$light: 300;
$primaryText: #4f4f4f;
$secondaryText: #898989;

$post-preview-title-font-size: 1.3rem;
$post-preview-details-font-size: 0.8rem;
$post-preview-snippets-font-size: 1rem;


$navbar-top-background: #ffffff;
$navbar-item-background: $navbar-top-background;
$navbar-item-background-opacity: 0.9;
$navbar-link-color: #000000;
$nav-width: 20rem;
$nav-padding: 0.875rem 0.6rem;
$nav-top-line-height: 4rem;


$font-size-1: 1.5rem;
$font-size-2: 0.8rem;